<div class="login__input_block">
  <input id="{{id}}" name="{{name}}" class="login__input {{className}}" type="{{type}}" required />
  <label for="{{id}}">{{label}}</label>
  <p class="error_message"></p>
</div>