<main class="container">
  <div  class="chat-menu">
    <div class="chats">
      <div class="chats__header">
        <a href="../profile">Профиль
          <img
            src="{{arrowRightImg}}"
            alt="стрелка  вправо"
          />
        </a>
        <div class="chats__search__block">
          {{{chatsSearchInput}}}
          <label><img src="{{searchImg}}" alt="" />
            <span>Поиск</span>
          </label>
        </div>
      </div>
    {{{userCard}}}
  </div>
    <div class="chat-content">
        <div class="chat-content__header">
            <div class="chat-content__img"></div>
            <div class="chat-content__username">Username</div>
            {{{chatContentSettingsButton}}}
            {{{modalWindowChatSettings}}}
        </div>
        <div class="chat-content__messages"></div>
        <div class="chat-content__footer">
            {{{chooseFileButton}}}
            {{{sendMessageInput}}}
            {{{sendMessageButton}}}
            {{{modalWindowSendFile}}}
        </div>
    </div>
</main>
